@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Lato:wght@700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* setting initial page margins, padding and borders to 0 */

* {
	margin: 0;
	padding: 0;
	border: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	/*  Fonts for the site  -  select using font-family: var(--ff-main); within classes etc. change here to affect whole site */
	--ff-main: 'Source Sans Pro', sans-serif;
	--ff-headline: 'Lato', serif;
	--ff-quotation: 'Patrick Hand', 'Source Sans Pro', sans-serif;
	/*  FONT WEIGHTS  -  Select using font-weight: var(--fw-m); Change here to affect whole site */
	--fw-l: 300;
	--fw-n: 400;
	--fw-m: 600;
	--fw-b: 700;
	/* Font Sizes */
	--fs-1: 3.2rem;
	--fs-2: 2.4rem;
	--fs-3: 1.87rem;
	--fs-4: 1.6rem;
	--fs-5: 1.33rem;
	--fs-6: 1.072rem;
	--fs-default: 1.6rem;
	/* I am adding my basic colours for the site here */
	--clr-primary-100: rgba(254, 232, 223, 1);
	--clr-primary-130: rgba(254, 232, 223, 0.3);
	--clr-primary-150: rgba(254, 232, 223, 0.5);
	--clr-primary-160: rgba(254, 232, 223, 0.6);
	--clr-primary-170: rgba(254, 232, 223, 0.7);
	--clr-primary-200: rgba(222, 183, 152, 1);
	--clr-primary-250: rgba(222, 183, 152, 0.6);
	--clr-primary-300: rgba(153, 95, 58, 1);
	--clr-primary-350: rgba(153, 95, 58, 0.6);
	--clr-primary-400: rgb(100, 64, 41, 1);
	--clr-box-shadow: rgb(136, 148, 141);
}


/* setting the basic font weights and sizes here */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: var(--ff-main);
	font-size: var(--fs-default);
	font-weight: var(--fw-n);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-headline);
	font-weight: var(--fw-b);
	color: var(--clr-primary-300);
	margin-bottom: .5rem;
}

.quotation {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	line-height: 150%;
	color: var(--clr-primary-400);
	font-family: var(--ff-quotation);
	font-size: var(--fs-3);
}

.author {
	font-family: var(--ff-main);
	font-weight: var(--fw-l);
	font-style: italic;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: .3rem;
	line-height: 150%;
	color: var(--clr-primary-400);
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#poses-container h3 {
	text-align: center;
	padding-bottom: 15px;
}

.benefits-text-area h1 {
	line-height: 150%;

}
.benefits-text-area p {
	margin-top: 2vh;
	color: var(--clr-primary-400);
	line-height: 150%;
}



.a-brief-history p {
	margin-top: 1rem;
	line-height: 150%;
}

#videos-container h2 {
	font-size: var(--fs-1);
   text-align: center;
}
.ytube-video-header p {
	padding-left: 3rem;
	padding-right: 3rem;
	color: var(--clr-primary-300);
	text-align: center;
}
#videos-container p {
	padding-left: 3rem;
	padding-right: 3rem;
	color: var(--clr-primary-400);
	text-align: center;
}
#history-container ul{
margin-top: 1rem;
margin-bottom: 1rem;
}
li {
	list-style-position: inside;
	margin: .5rem 0 .5rem 1rem;
	text-indent: -2rem;
    padding-left: 1rem;
}
a {
	text-decoration: none;
 }
 
 

/*** Start Nav bar ***/
 
 #nav-bar-header{
	background-color: var(--clr-primary-100);
	border-bottom: 1px solid var(--clr-primary-250);
	width: 100vw;
	position: fixed;
	z-index: 99;
 }
 
 .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
 }
 
 .hamburger {
	display: none;
 }
 
 .bar {
	display: block;
	width: 2.5rem;
	height: .25rem;
	margin: .55rem auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--clr-primary-400);
 }
 
 .nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
 }
 
 .nav-item {
	list-style: none;
	margin-left: 5rem;
 }
 
 .nav-link{
	font-weight: var(--fw-m);
	color: var(--clr-primary-400);
 }
 .nav-link:hover{
	color: var(--clr-primary-300);
	
 }
 
 .nav-logo {
	font-size: 2rem;
	font-weight: var(--fw-b);
	color: var(--clr-primary-400)
 }
 
 @media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: var(--clr-primary-100);
		width: 100%;
		text-align: center;
		transition: 0.3s;
		
	}
 
	.nav-menu.active {
		left: 0;
	}
 
	.nav-item {
		margin: 2.5rem 0;
	}
 
	.hamburger {
		display: block;
		cursor: pointer;
	}
 
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
 
	.hamburger.active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}
 
	.hamburger.active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}
 }


/*** END Nav ***/


/*** START Hero styling ***/

.hero-container {
	width: 100vw;
	margin: 0;
}

.hero-image {
	height: 65vh;
	width: 100vw;
	background: url('../images/pretty-blonde-woman-stretching-beach_10887539.jpg') no-repeat center left;
	background-size: cover;
	overflow: hidden;
}

.quotation-block {
	width: 100vw;
	max-width: 60ch;
	height: fit-content;
	padding:  3rem 2rem 1rem 2rem;
	background-color: var(--clr-primary-250);
	margin: auto;
	margin-bottom: -8rem;
	transform: translate(0%, -130px);
}

.lotus-flower-vertical-line {
	content: "";
	height: 3rem;
	position: absolute;
	z-index: 1;
	top: 0;
	margin-bottom: 0;
	left: 50%;
	border-left: 1px solid var(--clr-primary-400);
	/* transform: translate(-50%); */
}

.lotus-flower {
	width: 4rem;
	height: 4rem;
	position: relative;
	z-index: 2;
	margin: auto;
	top: 0;
	margin-bottom: 2.5rem;
	background: url("../images/lotus-flower.svg") no-repeat center center;
	/* Animates zoom effect on loading the page */
	animation-name: lotus-flower-rotation;
	animation-duration: 15s;
	animation-fill-mode: forwards;
}


/* Creates the rotation for Lotus Flower image */

@keyframes lotus-flower-rotation {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}




/*** End Hero styling ***/


/*** START Benefits section ***/

#benefits-container {
	width: 100w;
	height: fit-content;
	padding: 5vh 5vw 5vh 5vw;
	background-color: var(--clr-primary-150);
}

.benefits-text-area {
	grid-area: benefits-text-area;
	height: auto;
	max-width: 90vw;
	margin: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: left;
}



.benefits-image-container {
	max-width: 90vw;
	padding: 5vw;
}

.benefits-image-container img {
	max-width: 85vw;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 1rem var(--clr-box-shadow);
}


/*** START Benefits section media queries ***/

@media screen and (min-width: 768px) {
	#benefits-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2vw;
		padding: 5vh 3vw 5vh 3vw;
		align-items: center;
		grid-template-areas: "benefits-text-area benefits-image-container benefits-image-container";
	}
	
	.benefits-text-area {
		grid-area: benefits-text-area;
		padding-left: 2vw;
		padding-right: 2vw;
	}
	
	.benefits-image-container {
		grid-area: benefits-image-container;
		margin: auto;
		max-width: 35vw;
		position: unset;
		transform: unset;
	}
	.benefits-image img {
		max-width: 30vw;
		margin:auto;
		height: auto;
		overflow: hidden;
		border-radius: 1rem 1rem 1rem 1rem;
		box-shadow: 0 0 1rem var(--clr-box-shadow);
	}
		
}
@media screen and (min-width: 1024px) {
	#benefits-container {
		padding: 5vh 3vw 5vh 3vw;
	}
	
	.benefits-text-area {
		margin-left: 5vw;
		padding-left: 5vw;

		

	}
}

/*** END Benefits section media queries ***/


/*** End Benefits styling ***/


/*** START History section ***/

#history-container {
	width: 100vw;
	height: fit-content;
}

.a-brief-history {
	padding: 5vw;
}

.history-classical {
	grid-area: history-classical;
	padding:10vw;
	background-color: var(--clr-primary-130);
}
.history-image-container {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 90vw;
}
.history-image-container img {
	max-width: 80vw;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 1rem var(--clr-box-shadow);
}
.history-post-classical {
	padding: 10vw;
	background-color: var(--clr-primary-130);
}

.history-modern-yoga {
	padding: 10vw;
}




/*** START History section media queries ***/

@media screen and (min-width: 768px) {
	#history-container {
		display: grid;
		row-gap: 2.5vw;
		column-gap: 5vw;
		padding: 5vw 2.5vw 5vw 2.5vw;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-template-areas: 
		"a-brief-history a-brief-history a-brief-history " 
		"history-classical history-classical history-post-classical" 
		"history-modern-yoga history-modern-yoga history-image"
	}
	.a-brief-history {
		grid-area: a-brief-history;
		padding: 2vw 10vw 2vw 10vw;
	}
	
	.history-classical {
		grid-area: history-classical;
		background-color: unset;
		padding: 2vw;
		border-radius: 30px;
	}
	
	.history-post-classical {
		grid-area: history-post-classical;
		padding: 2vw;
		background-color: var(--clr-primary-130);
		border-radius: 30px;
	}
	
	.history-modern-yoga {
		grid-area: history-modern-yoga;
		padding: 2vw;
		background-color: var(--clr-primary-130);
		border-radius: 30px;
	}
	
	.history-image {
		grid-area: history-image;
		margin: auto;
	}
	
	.history-image img {
		max-width: 30vh;
		overflow: hidden;
		border-radius: 1rem 1rem 1rem 1rem;
		box-shadow: 0 0 1rem var(--clr-box-shadow);
	}
}


/*** END History section media queries ***/


/*** End History styling ***/


/** Start Quotation Block 1 **/

.quotation-image-1 {
	height: 65vh;
	width: 100vw;
	background: url('../images/attractive-blonde-woman-doing-yoga-outdoors_10887532.jpg') no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.quotation-image-2 {
	height: 65vh;
	width: 100vw;
	background: url('../images/pretty-blonde-woman-practicing-yoga-outdoors_10887523.jpg') no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.quotation-block h2 {
	padding: 1rem;
	font-size: var(--fs-default);
}



/** End Quotation Block 1 **/


/*** Start Poses ***/

#poses-container {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
}

.pose-information{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	max-width: 80vw;
	padding: 2vw;
}

.poses-video-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	max-width: 80vw;
	padding: 2vw;
	color: var(--clr-primary-500);
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 1rem var(--clr-box-shadow);
}
.pose-video {
	width: 70vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/*** START poses section media queries ***/

@media screen and (min-width: 768px) {
	#poses-container {
	display: grid;
	column-gap: 1vw;
	row-gap: 1vw;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 
	"information information"
	"warrior-i warrior-ii"
	"cobra dog"
	"bridge tree"
	"supinetwist cat-cow"
	"forward-fold ."
}
	.poses-video-container {
		max-width: 40vw;
	}
	.pose-video {
		width: 35vw;
	}
	.pose-information {grid-area: information;}
	.pose-warrior-i {grid-area: warrior-i;}
	.pose-warrior-ii {grid-area: warrior-ii;}	
	.pose-cobra {grid-area: cobra;}
	.pose-down-dog {grid-area: dog;}
	.pose-bridge {grid-area: bridge;}
	.pose-tree {grid-area: tree;}
	.pose-supinetwist {grid-area: supinetwist;}
	.pose-cat-cow {grid-area: cat-cow;}
	.pose-forward-fold {grid-area: forward-fold;}	
}
@media screen and (min-width: 1024px) {
	#poses-container {
	display: grid;
	column-gap: .5vw;
	row-gap: .5vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"information information information"
	"warrior-i warrior-ii cobra"
	"dog bridge tree"
	"supinetwist cat-cow forward-fold"
}
	.poses-video-container {
		max-width: 28vw;
	}
	.pose-video {
		width: 25vw;
	}
}





/*** End poses section media queries ***/


/*** End poses section ***/



/*** Start Exercise Videos ***/



#videos-container {
	width: 98vw;
	height: fit-content;
	padding: 0 2rem 0 2rem;
}

.ytube-video>video {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width:90vw;
	box-shadow: .5rem .5rem 1rem var(--clr-box-shadow);
	border-radius: 2rem;
}

.ytube-video-header {
	grid-area: heading;
	padding: 0%
}

.ytube-video {
	margin: 1rem .5rem 6rem .5rem;
}


/*** START Exercise Videos section media queries ***/

@media screen and (min-width: 800px) {

	#videos-container {
		display: grid;
		column-gap: 5rem;
		padding: 0 2rem 0 2rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "heading heading" "video-1 video-2" "video-3 ."
	}
	
	.ytube-video>video {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 40vw;		
	}

	.ytube-video-header {
		grid-area: heading;
		padding: 0%;
		margin-bottom: 5rem;
	}
	
	.video-1 {
		grid-area: video-1;
		
	}
	
	.video-2 {
		grid-area: video-2;
	}
	
	.video-3 {
		grid-area: video-3;
	}
	
	
	.ytube-video {
		margin: 1rem .5rem 6rem .5rem;
	}

}





/*** End Exercise Videos section ***/



/*** Start newsletter-signup-section section ***/

#newsletter-signup-section {
	background: url('../images/beautiful-blonde-woman-doing-yoga-outdoors_10887584.jpg') no-repeat bottom left;
	background-size: cover;
	overflow: hidden;
	width: 95vw;
	margin: auto;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border: .25rem solid var(--clr-primary-400);
	border-radius: 3rem;
	padding: 5vw;
}

.newsletter-signup-form {
	margin: auto;
	margin-right: 1vw;
	color: var(--clr-primary-400);
	background-color: var(--clr-primary-150);
	width: 350px;
	max-width: 85vw;
	padding: 3rem;
	border: .25rem solid var(--clr-primary-400);
	border-radius: 2rem;
}

.newsletter-signup-form P {
	margin: 2rem 0 0 0;
	color: var(--clr-primary-400);
	font-style: italic;
}

.newsletter-signup-form h2 {
	color: var(--clr-primary-300);
	margin-bottom: 2rem;
}

.text-input {
	color: var(--clr-primary-400);
	width: 100%;
	height: 2.5rem;
	margin: 1rem 0 1rem 0;
	border: .25rem solid var(--clr-primary-400);
	border-radius: .5rem;
}

.text-input:hover {
	border-color: var(--clr-primary-300);
}

.newsletter-button {
	max-width: 65vw;
	margin: auto;
	margin-top: 2.5rem;
	border-radius: 1.5rem;
	padding: 1.8rem 2rem 1.8rem 2rem;
	text-align: center;
	background-color: var(--clr-primary-200);
	color: var(--clr-primary-300);
}

.newsletter-button:hover {
	background-color: var(--clr-primary-300);
	color: white;
}


/*** Start Newsletter  section media queries ***/

@media screen and (max-width: 680px) {
	.newsletter-signup-form {
		margin: auto;
	}
}


/*** End Exercise Videos section media queries ***/


/*** End newsletter-signup-section section ***/


/*** Start Footer section ***/

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: var(--clr-primary-300);
	min-height: 10rem;
	padding: 0 20vw 0 20vw;
}

i.fab {
	font-size: 4rem;
	color: white;
}

i.fab:hover {
	font-size: 4rem;
	color: var(--clr-primary-170);
}


/*** End Footer section ***/