@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Lato:wght@700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* setting initial page margins, padding and borders to 0 */

* {
   margin: 0;
   padding: 0;
   border: 0;
}

:root {
   /*  Fonts for the site  -  select using font-family: var(--ff-main); within classes etc. change here to affect whole site */
   --ff-main: 'Source Sans Pro', sans-serif;
   --ff-headline: 'Lato', serif;
   --ff-quotation: 'Patrick Hand', 'Source Sans Pro', sans-serif;
   /*  FONT WEIGHTS  -  Select using font-weight: var(--fw-m); Change here to affect whole site */
   --fw-l: 300;
   --fw-n: 400;
   --fw-m: 600;
   --fw-b: 700;
   /* Font Sizes */
   --fs-1: 3.2rem;
   --fs-2: 2.4rem;
   --fs-3: 1.87rem;
   --fs-4: 1.6rem;
   --fs-5: 1.33rem;
   --fs-6: 1.072rem;
   --fs-default: 1.6rem;
   /* I am adding my basic colours for the site here */
   --clr-primary-100: rgba(254, 232, 223, 1);
   --clr-primary-130: rgba(254, 232, 223, 0.3);
   --clr-primary-150: rgba(254, 232, 223, 0.5);
   --clr-primary-160: rgba(254, 232, 223, 0.6);
   --clr-primary-170: rgba(254, 232, 223, 0.7);
   --clr-primary-200: rgba(222, 183, 152, 1);
   --clr-primary-250: rgba(222, 183, 152, 0.6);
   --clr-primary-300: rgba(153, 95, 58, 1);
   --clr-primary-350: rgba(153, 95, 58, 0.6);
   --clr-primary-400: rgb(100, 64, 41, 1);
   --clr-box-shadow: rgb(136, 148, 141);
}


/* setting the basic font weights and sizes here */

html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   font-family: var(--ff-main);
   font-size: var(--fs-default);
   font-weight: var(--fw-n);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--ff-headline);
   font-weight: var(--fw-b);
   color: var(--clr-primary-300);
}

.quotation {
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 3px;
   line-height: 150%;
   color: var(--clr-primary-400);
   font-family: var(--ff-quotation);
   font-size: var(--fs-3);
}

.author {
   font-family: var(--ff-main);
   font-size: var(--fs-default);
   font-weight: var(--fw-l);
   font-style: italic;
   text-transform: uppercase;
   text-align: right;
   letter-spacing: .3rem;
   line-height: 150%;
   color: var(--clr-primary-400);
   margin-top: 1vw;
   margin-bottom: 1vw;
}

li {
   list-style-position: inside;
   font-size: var(--fs-default);
}

*,
*::before,
*::after {
   box-sizing: border-box;
}


/*** Start Nav bar ***/

a {
   text-decoration: none;
}

.nav-bar-header {
   background-color: var(--clr-primary-100);
   border-bottom: 1px solid var(--clr-primary-250);
   width: 100vw;
   position: fixed;
   z-index: 99;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 1.5rem;
}

.hamburger {
   display: none;
}

.bar {
   display: block;
   width: 2.5rem;
   height: .25rem;
   margin: .55rem auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: var(--clr-primary-400);
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-item {
   list-style: none;
   margin-left: 5rem;
}

.nav-link {
   font-size: var(--fs-default);
   font-weight: var(--fw-m);
   color: var(--clr-primary-400);
}

.nav-link:hover {
   color: var(--clr-primary-300);
}

.nav-logo {
   font-size: 2rem;
   font-weight: var(--fw-b);
   color: var(--clr-primary-400)
}

@media only screen and (max-width: 800px) {
   .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--clr-primary-100);
      width: 100%;
      text-align: center;
      transition: 0.3s;
   }
   .nav-menu.active {
      left: 0;
   }
   .nav-item {
      margin: 2.5rem 0;
   }
   .hamburger {
      display: block;
      cursor: pointer;
   }
   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }
   .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
   }
}


/*** END Nav ***/


/*** START Hero styling ***/

.hero-container {
   width: 100vw;
   margin: 0;
}

.hero-image {
   height: 65vh;
   width: 100vw;
   background: url('../images/pretty-blonde-woman-stretching-beach_10887539.jpg') no-repeat center left;
   background-size: cover;
   overflow: hidden;
}

.quotation-block {
   width: 50vw;
   max-width: 60ch;
   height: fit-content;
   padding: 30px 3vw 2.5vw 3vw;
   background-color: var(--clr-primary-250);
   margin: auto;
   transform: translate(0%, -130px);
   margin-bottom: -100px;
}

.lotus-flower-vertical-line {
   content: "";
   height: 30px;
   position: absolute;
   z-index: 1;
   top: 0;
   bottom: 0;
   left: 50%;
   border-left: 1px solid var(--clr-primary-400);
   transform: translate(-50%);
}

.lotus-flower {
   width: 42px;
   height: 42px;
   position: relative;
   z-index: 2;
   top: 0;
   bottom: 0;
   margin: auto;
   background: url("../images/lotus-flower.svg") no-repeat center center;
   /* Animates zoom effect on loading the page */
   animation-name: lotus-flower-zoom;
   animation-duration: 15s;
   animation-fill-mode: forwards;
}


/* Creates the level of zoom for Lotus Flower image */

@keyframes lotus-flower-zoom {
   from {
      transform: rotate(180deg);
   }
   to {
      transform: rotate(0deg);
   }
}


/*** START Hero section media queries ***/

@media screen and (max-width: 768px) {
   .hero-quotation {
      width: 100vw;
      height: fit-content;
      padding: 27px 10vw 3vw 10vw;
      transform: translate(0%, -150px);
   }
   .quotation-block {
      width: 100vw;
   }
   .hero-quotation h2 {
      padding: 1rem;
      font-size: 97%;
   }
   .lotus-flower-vertical-line {
      height: 30px;
   }
   .lotus-flower {
      width: 30px;
      height: 30px;
      top: 0px;
   }
}


/*** END Hero section media queries ***/


/*** End Hero styling ***/


/*** START Benefits section ***/

#benefits-container {
   width: 100vw;
   height: fit-content;
   padding: 5vh 5vw 5vh 5vw;
   background-color: var(--clr-primary-150);
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto auto;
   grid-template-areas: "benefits-text benefits-text benefits-text benefits-image benefits-image" "benefits-text benefits-text benefits-text benefits-image benefits-image"
}

.benefits-text {
   grid-area: benefits-text;
   height: auto;
   max-width: 60vw;
   margin: auto;
   padding-left: 10vw;
   padding-right: 10vw;
   text-align: left;
}

.benefits-text h1 {
   line-height: 200%;
   font-size: var(--fs-1);
}

.benefits-text p {
   margin-top: 5vh;
   color: var(--clr-primary-400);
   line-height: 150%;
   font-size: var--(--fs-default);
   
}

.benefits-image {
   /* max-width: 60vw; */
   grid-area: benefits-image;
   margin: auto;
}

.benefits-image img {
   max-width: 30vw;
   overflow: hidden;
   border-radius: 1rem 1rem 1rem 1rem;
   box-shadow: 0 0 1rem var(--clr-box-shadow);
}


/*** START Benefits section media queries ***/

@media screen and (max-width: 768px) {
   #benefits-container {
      grid-template-areas: "benefits-text benefits-text benefits-text benefits-text benefits-text" "benefits-image benefits-image benefits-image benefits-image benefits-image"
   }
   .benefits-text {
      max-width: 90vw;
   }
   .benefits-text h1 {
      color: var(--clr-primary-300);
      line-height: 150%;
   font-size: var(--fs-1);

   }
   .benefits-text p {
      margin-top: 5vh;
      line-height: 150%;
      font-size: 95%;
   }
   .benefits-image {
      width: 70vw;
      grid-area: benefits-image;
      margin: auto;
   }
   .benefits-image img {
      overflow: hidden;
      display: block;
      margin: auto;
      max-width: 65vw;
   }
}


/*** END Benefits section media queries ***/


/*** End Benefits styling ***/


/*** START History section ***/

#history-container {
   width: 95vw;
   height: fit-content;
   display: grid;
   row-gap: 2.5vw;
   column-gap: 5vw;
   padding: 5vw 2.5vw 5vw 2.5vw;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-template-areas: "a-brief-history a-brief-history a-brief-history a-brief-history a-brief-history" "history-classical history-classical history-classical history-post-classical history-post-classical" "history-modern-yoga history-modern-yoga history-modern-yoga history-image history-image"
}

.a-brief-history {
   grid-area: a-brief-history;
   padding: 2vw 10vw 2vw 10vw;
}

.a-brief-history h1 {
   line-height: 200%;
   font-size: var(--fs-1);

}

.a-brief-history p {
   margin-top: 5vh;
   line-height: 150%;
}

.history-classical {
   grid-area: history-classical;
   padding: 2vw;
   border-radius: 30px;
}

.history-post-classical {
   grid-area: history-post-classical;
   padding: 2vw;
   background-color: var(--clr-primary-130);
   border-radius: 30px;
}

.history-modern-yoga {
   grid-area: history-modern-yoga;
   padding: 2vw;
   background-color: var(--clr-primary-130);
   border-radius: 30px;
}

.history-image {
   grid-area: history-image;
   margin: auto;
}

.history-image img {
   max-width: 30vh;
   overflow: hidden;
   border-radius: 1rem 1rem 1rem 1rem;
   box-shadow: 0 0 1rem var(--clr-box-shadow);
}


/*** START History section media queries ***/

@media screen and (max-width: 768px) {
   #history-container {
      width: 100vw;
      height: fit-content;
      display: grid;
      row-gap: 5vw;
      column-gap: 1vw;
      padding: 5vw 6vw 5vw 6vw;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(150px, auto);
      grid-template-areas: "a-brief-history a-brief-history" "history-classical history-classical" "history-image history-image " "history-post-classical history-post-classical" "history-modern-yoga history-modern-yoga"
   }
   .history-post-classical {
      background-color: unset;
   }
   .history-modern-yoga {
      background-color: unset;
   }
}


/*** END History section media queries ***/


/*** End History styling ***/


/** Start Quotation Block 1 **/

.quotation-image-1 {
   height: 65vh;
   width: 100vw;
   background: url('../images/attractive-blonde-woman-doing-yoga-outdoors_10887532.jpg') no-repeat center center;
   background-size: cover;
   overflow: hidden;
}
.quotation-image-2 {
   height: 65vh;
   width: 100vw;
   background: url('../images/pretty-blonde-woman-practicing-yoga-outdoors_10887523.jpg') no-repeat center center;
   background-size: cover;
   overflow: hidden;
}
.quotation-block {
   width: 50vw;
   max-width: 60ch;
   height: fit-content;
   padding: 1.5vw 2vw 1vw 2vw;
   background-color: var(--clr-primary-200);
   margin: 0rem auto 1vh auto;
   border-radius: 2rem;
}


/*** START Quotation section media queries ***/

@media screen and (max-width: 768px) {
   .quotation-block {
      width: 80vw;
      height: fit-content;
      padding: 3rem;
   }
   .quotation-block h2 {
      padding: 1rem;
      font-size: 97%;
   }
}


/*** END Quotation section media queries ***/


/** End Quotation Block 1 **/


/*** Start Poses ***/

#poses-container {
   width: 95vw;
   margin-left: auto;
   margin-right: auto;
   height: fit-content;
   display: grid;
   column-gap: 7rem;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-template-areas: "information information information" "warrior-i warrior-ii cobra" "dog bridge tree" "supinetwist cat-cow forward-fold"
}

.pose-video {
   width: 20vw;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

#poses-container h3 {
   text-align: center;
   padding-bottom: 15px;
}

.poses-border {
   margin-left: auto; 
   margin-right: auto;
   margin-top: 5rem;
   margin-bottom: 1rem;
   width: 22vw;
   padding: 2vw;
   margin-bottom: 5rem;
   color: var(--clr-primary-500);
   border-radius: 1rem 1rem 1rem 1rem;
   box-shadow: 0 0 1rem var(--clr-box-shadow);
}

.pose-information {
   grid-area: information;
   margin: auto;
}

.pose-warrior-i {
   grid-area: warrior-i;
}

.pose-warrior-ii {
   grid-area: warrior-ii;
}

.pose-cobra {
   grid-area: cobra;
}

.pose-down-dog {
   grid-area: dog;
}

.pose-bridge {
   grid-area: bridge;
}

.pose-tree {
   grid-area: tree;
}

.pose-supinetwist {
   grid-area: supinetwist;
}

.pose-cat-cow {
   grid-area: cat-cow;
}

.pose-forward-fold {
   grid-area: forward-fold;
}


/*** START poses section media queries ***/

@media screen and (max-width: 800px) {
   #poses-container {
      column-gap: 6rem;
      padding: 0 auto 0 auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "information information" "warrior-i warrior-ii" "cobra dog" "bridge tree" "supinetwist cat-cow" "forward-fold ."
   }
   .pose-video {
      width: 30vw;
   }
   .poses-border {
      width: 40vw;
   }
}

@media screen and (max-width: 425px) {
   #poses-container {
      max-width: 95vw;
      padding: 0 1vw 0 1vw;
      margin: 2vw;
      align-content: center;
      display: inline-block;
   }
   .pose-information {
      margin-top: 1rem;
      width: 80vw;
   }
   .pose-video {
      width: 65vw;
   }
   .poses-border {
      margin-top: 2rem;
      width: 80vw;
   }
}


/*** End poses section media queries ***/
/*** End poses section ***/


/*** Start Exercise Videos ***/
.ytube-video-header h1 {
   text-align: center;
}

#videos-container {
   width: 100vw;
   height: fit-content;
   display: grid;
   column-gap: 5rem;
   padding: 0 2rem 0 2rem;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-template-areas: "heading heading" "video-1 video-2" "video-3 video-4"
}

iframe {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 356px;
   height: 200px;
}

.ytube-video-header {
   grid-area: heading;
   padding: 0%
}

.video-1 {
   grid-area: video-1;
}

.video-2 {
   grid-area: video-2;
}

.video-3 {
   grid-area: video-3;
}

.video-4 {
   grid-area: video-4;
}

.ytube-video {
   margin: 1rem .5rem 6rem .5rem;
}

.ytube-video-header p {
   padding-left: 3rem;
   padding-right: 3rem;
   color: var(--clr-primary-300);
   text-align: center;
}
.ytube-video-header h1 {
   line-height: 200%;
   font-size: var(--fs-1);

}

/*** START Exercise Videos section media queries ***/
@media screen and (max-width: 1000px) {
   .iframe {
      width: 400px;
      height: 225.5px;
   }
}

@media screen and (max-width: 900px) {
   #videos-container {
      display: inline-block;
   }
   .ytube-video-header {
      padding-top: 8rem;
      text-align: center;
   }
   iframe {
      width: 650px;
      height: 365.625px;
   }
   @media screen and (max-width: 700px) {
      iframe {
         width: 500px;
         height: 281.25px;
      }
   }
   @media screen and (max-width: 600px) {
      iframe {
         width: 400px;
         height: 225.5px;
      }
   }
   @media screen and (max-width: 500px) {
      iframe {
         width: 300px;
         height: 168.75px;
      }
   }
   @media screen and (max-width: 400px) {
      #videos-container {
         width: 100vw;
         padding: 0;
      }
      iframe {
         width: 250px;
         height: 140.625px;
      }
   }
   /*** End Exercise Videos section media queries ***/
   /*** End Exercise Videos section ***/
   #quotation-2 {}
   #videos {}
   #contact {}
   #footer {}
   .blank-spacer {
      background-color: var(--clr-primary-400);
      min-height: 150px;
      width: 100vw;
      margin-top: 100px;
   }